*{box-sizing:border-box;}
#rt1{background-image: url(../css/24acef8b3a6a45d7239480bcc4ff0193.jpg);background-repeat: no-repeat;background-size: cover;max-width: 100%;height: auto;}
.st2{border: 5px solid violet;border-radius: 5px 7px 9px 11px;border-top-color: aqua;}
.menu{background-image:url("collection-different-things-table-with-silver-toaster-black-toaster_962478-3014.jpg");background-repeat: no-repeat;background-size: cover;width:auto;height:400px;;}
#u1{background-color: red;border: 1px solid red;}
#u2{background-color: yellow;border: 1px solid yellow;}
#u3{background-color: green;border: 1px solid green;}
#rt1{width: 200px;}
ul li{display: inline;;padding: 80px;color:  black;padding-top: -60px;}
.kl{border: 2px groove blue;border-radius: 10px 20px;color: black;padding: 5px;background-color: rgb(23, 170, 170);}
option{color: black;}
a{text-decoration: none;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:20px;background: rgb(204, 255, 0);
    transition: background-color 1s ease-in-out;}
a:hover{background-color: blue;color: black;display: inline;text-transform: scale(1.8)}
.bp div{width: 100px;height: 100px;background-color: blue;margin: 10px;border-radius: 15px;}
.ft:hover{transform:translate(30px,20px) perspective(500px)rotate(45deg) scale(1.5);text-align: center;padding: 10px;}
.ft{text-align: center;padding: 10px;}
.po:hover{transform:skew(30deg,20deg) scale(1.5)translate(100px, 200px);margin-top: 10px;}
.po:active{
        transform: skew(30deg, 20deg) scale(1.5)translate(100px, 200px);
        margin-top: 10px;
    }
    .rew{box-sizing: border-box;}
    div.bp{display: flex;justify-content: center;}
    .bp{width: 500px;height: 500px;}